header{
background:#465a47;
color:white;

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 7%;

position:sticky;
top:0;

z-index:1000;
}

.logo img{
height:60px;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#d8b178;
}
