header{
    background:linear-gradient(90deg, #2e8b57, #3cb371);
    color:white;
    text-align:center;
    padding:50px 20px;
}

header h1{
    margin:0;
    font-size:40px;
}

header p{
    margin-top:10px;
    font-size:18px;
}